<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Movie</title>
  </head>
  <body>
    <form action="/movies/add" method="POST">
      {% csrf_token %}
      <label for="title">Title:</label>
      <input type="text" name="title" placeholder="Movie Title" />
      <input type="text" name="year" placeholder="Movie Year" />

      <button type="submit">Save</button>
    </form>
    <a href="/movies">Go Back</a>
  </body>
</html>
