{% extends 'base_auth.html' %} {% block content %} {% load static %}

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card mt-5">
      <div class="card-title">
        <h4 class="text-center py-3">Login to your account</h4>
        {% include 'partials/_messages.html' %}
      </div>
      <div class="card-body">
        <form action="{% url 'login' %}" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <input
              type="text"
              name="username"
              id="usernameField"
              placeholder="Username"
              value="{{fieldvalues.username}}"
              class="form-control form-control-sm mb-1"
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              name="password"
              id="passwordField"
              placeholder="Password"
              class="form-control form-control-sm mb-1"
            />
          </div>
          <input
            type="submit"
            value="Login"
            class="btn btn-primary form-control submit-button"
          />
        </form>
        <div class="flex space-between">
          <div>
            <span>Don't have account? </span
            ><a href="{% url 'register' %}">Register</a>
          </div>

          <div>
            <span>Forgot password? </span
            ><a href="{% url 'reset-password' %}">Reset</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>

<script src="{% static 'js/register.js' %}"></script>

{% endblock content %}
