{% extends 'base_auth.html' %} {% block content %} {% load static %}

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card mt-5">
      <div class="card-title">
        <h4 class="text-center py-3">
          Enter your mail to recieve a password reset link
        </h4>

        {% include 'partials/_messages.html' %}
      </div>
      <div class="card-body">
        <form action="{% url 'password_reset' %}" method="POST">
          {% csrf_token %}

          <div class="form-group">
            <input
              type="email"
              name="email"
              id="emailField"
              placeholder="Email"
              class="form-control form-control-sm mb-1"
            />
          </div>
          <input
            type="submit"
            value="Reset Password"
            class="btn btn-primary form-control submit-button"
          />
        </form>
        <div class="flex space-between">
          <div>
            <span>Already have an account? </span
            ><a href="{% url 'login' %}">Login</a>
          </div>

          <div>
            <span>Don't have an account? </span
            ><a href="{% url 'register' %}">Register</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>

<script src="{% static 'js/resetPassword.js' %}"></script>

{% endblock content %}
