db.sqlite3
*.pyc
.idea
.coverage
.vagrant
ve
ve/*
.DS_Store
*.pyc
**/*.pyc
venv
venv/*
env
env/*
envv/*
envv
*.pyc
**/*.pyc
*.rdb
dump.*
media/
media/*
myvenv
myvenv/
myvenv/*
myenv
myenv/
myenv/*
__pycache__/
/migrations/00