<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Music</title>
  </head>
  <body>
    <ul>
      {%for music in data%}
      <a href="/music/details/{{music.id}}">
        <li>
          {{music.title}}, <span>{{music.year}}</span> ---
          <span>View Detial</span>
        </li>
      </a>
      {%endfor%}
    </ul>
    <button>
      <a href="/music/add">Add Music</a>
    </button>
  </body>
</html>
